.not-found {

	&__container {
		padding-top: 5.6rem;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 8rem;
	}

	&__text {
		max-width: 28.7rem;
		text-align: center;
		margin-bottom: 4rem;
	}

	&__text p:last-child{
		margin-bottom: 0;
	}

	&__btn {
		padding: 1.4rem 2.4rem;
		font-size: 1.6rem;
		line-height: 100%;
	}

	&__img img {
		width: 100%;
	}

	@media screen and (orientation: portrait) {
		&__container {
			padding-top: 9rem;
		}

		&__box {
			margin-bottom: 6rem;
		}

		&__text {
			margin-bottom: 3rem;
		}
	}
}

.btn {}

.default-anim {}

.bg-yellow {}