.select-boxes-wrapper {
    display: flex;
    gap: 1.6rem;

    margin-bottom: 4rem;
}

.my-orders {
    margin-bottom: 2rem;

    .select-box__head,
    .form-input {
        width: 28.8rem;
        height: 4.8rem;
        background-color: var(--grey);
        cursor: pointer;
    }

    .select-box.form-item {
        width: 28.8rem;
    }

    .form-item {
        margin-bottom: 0;
    }


    .calendar {
        z-index: 7;
    }

    .select-box__purchase-type {
        z-index: 6;
    }
}


.orders-wrapper {
    display: flex;
    flex-flow: column;
    gap: 2.4rem;
}

.order {
    width: 100%;
    display: grid;
    grid-template-columns: 45rem 68rem;
    grid-template-rows: auto auto;
    justify-content: space-between;
    padding: 3rem;

    border-radius: 2rem;
    border: solid .1rem var(--grey);
}

.slider-products__btn {
    // margin-top: 5rem;
}

.order-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 2.4rem;
    height: 26.8rem;
    overflow: hidden;
}

.order-info {
    display: flex;
    flex-flow: column;
    gap: 2.4rem;
}

.order-first-row {
    display: flex;
    flex-flow: column;
    gap: 4rem;
}

.order-more-info-btns {
    display: flex;
    gap: 1.6rem;
}

.order-more-info-btn {
    padding: 1.6rem 2.4rem;
    width: fit-content;
    height: fit-content;
}

.order-info-title {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.order-info-title.canceled {
    .order-info-title__text {
        opacity: 0.5;
    }

    .order-info-status {
        color: var(--red);
    }
}

.order-info-title.done {
    .order-info-status {
        color: var(--green);
    }
}

.order-info-status {
    font-weight: 600;
    margin: 0;
    font-size: 1.6rem;
    line-height: 1;
}

.order-info-title__text {
    font-weight: 600;
    margin: 0;
    font-size: 2rem;
    line-height: 1;
}

.order-info-status {
    color: var(--blue);
}

.order-info-wrapper {
    display: flex;
    flex-flow: column;
    gap: 4rem;
}

.order-info-container {
    display: flex;
    flex-flow: column;
    gap: 1.6rem;
}

.order-info__item {
    display: flex;
    font-size: 1.6rem;
    line-height: 1;
    gap: 0.4rem;
}

.order-info__item-text {
    font-weight: 600;
}

.order-info__address {
    gap: .8rem;

    .map-icon {
        width: 2.4rem;
        height: 2.4rem;
    }

    .address-title {
        font-size: 1.6rem;
        line-height: 1;
        font-weight: 600;
    }
}

.order-info__price {
    font-weight: 600;
}

.order-image {
    width: 10.8rem;
    height: 12.2rem;
    object-fit: cover;
    object-position: center;
}

.my-order-btn-text {
    margin: 0 0 0 1rem;
}

@media screen and (orientation:portrait) {
    .select-boxes-wrapper {
        flex-flow: column;
    }

    .my-orders {

        .select-box__head,
        .form-input {
            width: 38.2rem;
        }

        .select-box.form-item {
            width: 38.2rem;
        }

        .form-item {
            margin-bottom: 0;
        }

        .address-title {
            margin-left: 3rem;
            margin-top: 0;
            line-height: 1.5;
        }
    }

    .order {
        gap: 2.4rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 2.4rem;
    }

    .order-info-container {
        width: unset;
    }

    .order-info-title {
        flex-flow: column;
        align-items: start;
    }

    .order-more-info-btns {
        justify-content: space-between;
        gap: 0;
    }

    .order-images {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.6rem;
        width: 33.4rem;
        height: 7.8rem;
    }

    .order-image {
        width: 7rem;
        height: 7.8rem;
    }
}