.order-page {
    padding-bottom: 0;

    @media screen and (orientation: portrait) {
        padding-bottom: 6rem;
    }

    .breadcrumbs-block__container {
        margin: 0;
    }
}

.make-order {

    &__container {
        margin-right: 0;
    }

    &__block.block-1 {
        width: 71.2rem;
        position: relative;
    }

    &__block.block-1 &__block-body {
        // position: sticky;
        top: 17.2rem;
        padding-bottom: 32.7rem;
    }

    .empty-space-for-sticky{
        width: 100%;
        height: 160rem;
    }
    &__block.block-2 {
        background-color: var(--grey);
        margin-top: -10.3rem;
        padding-top: 16rem;
        overflow: clip;
        width: 49.4rem;
    }

    &__block.block-2 &__block-body {
        position: sticky;
        bottom: 20%;
        padding: 0 3rem 5rem;
        width: 49.4rem;
    }
    @media screen and (orientation: portrait) {
        &__container {
            margin-right: 1.6rem;
        }

        &__block.block-1 {
            margin-bottom: 6rem;
            width: 100%;
        }

        &__block.block-1 &__block-body {
            padding-bottom: 0;
        }

        &__block.block-1,
        &__block.block-2 {
            grid-area: unset;
        }

        &__block.block-2 {
            margin: 0 0 2.4rem;
            border-radius: 3.2rem;
            width: 100%;
            padding-top: 0;
        }

        &__block.block-2 &__block-body {
            position: unset;
            top: unset;
            padding: 4rem 1.6rem;
            width: unset;
        }
        .empty-space-for-sticky{
            display: none;
        }
    }
}

.make-order-form {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 49.4rem;

    &__item {
        margin-bottom: 2.4rem;
    }

    & textarea,
    &__input {
        background-color: var(--grey);
    }

    &__label {}

    &__radiobtns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.6rem;
        margin-bottom: 4rem;
    }

    &__radiobtns.payment-methods {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    &__radiobtns .form-item {
        margin-bottom: 0;
    }

    &__radiobtns .form-check-label {
        display: flex;
        height: 6.4rem;
        align-items: center;
        padding: 0 2.4rem 0 5.8rem;
        background-color: rgba(247, 247, 247, 0.2);
        border-radius: 2rem;
        overflow: hidden;
        transition: background-color 0.3s ease-out;
    }

    &__radiobtns ._checked .form-check-label {
        background-color: var(--grey);
        transition: all 0.3s ease-out;
    }

    @media (hover: hover) and (pointer: fine) {
        &__radiobtns .form-check-label:hover {
            background-color: var(--grey);
        }
        &__radiobtns .form-check-label_disabled:hover {
            background-color: rgba(247, 247, 247, 0.2);
        }
    }

    &__radiobtns .form-check-label::before,
    &__radiobtns .form-check-label::after {
        top: 50%;
        left: 2.4rem;
        transform: translateY(-50%);
    }

    &__select {
        max-width: 34.8rem;
        width: 100%;
    }

    &__select .select-box__head {
        background-color: var(--grey);
        height: 4.8rem;
    }

    .maker-order-date {
        max-width: 34.8rem;
        width: 100%;
    }

    .input-flat,
    .input-floor {
        max-width: 16.6rem;
        width: 100%;
    }

    &__radiobtns.payment-methods label {
        padding-left: 5rem;
        flex-wrap: wrap;
        gap: 1.6rem;
    }

    &__radiobtns.payment-methods label::before,
    &__radiobtns.payment-methods label::after {
        left: 1.6rem;
    }

    &__radiobtns.payment-methods label svg {
        height: 2.4rem;
        width: auto;
    }

    &__radiobtns.payment-methods label img {
        height: 2.4rem;

    }

    &__last-row {
        display: grid;
        grid-template-columns: 34.6rem 1fr;
        grid-gap: 2.4rem;
        align-items: center;
        max-width: 71.2rem;
    }

    &__btn {}

    &__politics {
        max-width: 100%;
    }

    &__politics a {
        text-decoration: none;
    }

    &__politics a:hover {
        text-decoration: underline;
    }

    @media screen and (orientation: portrait) {
        grid-template-areas: unset;
        display: block;

        &__radiobtns {
            grid-template-columns: 1fr;
            grid-gap: 0;
        }

        &__last-row {
            grid-template-columns: 1fr;
        }

        .input-flat,
        .input-floor {
            max-width: calc(50% - .8rem);
            width: 100%;
        }

        &__select {
            max-width: 100%;
        }

        &__radiobtns.payment-methods label {
            padding-top: 2.4rem;
            padding-bottom: 2.4rem;
            // height: 9.6rem;
            height: max-content;
            gap: 1rem 1.6rem;
        }

        &__radiobtns.payment-methods label span {
            flex-grow: 1;
            width: 100%;
        }

        &__last-row {
            grid-area: unset;
            display: flex;
            flex-direction: column-reverse;
            align-items: unset;
            gap: 2.7rem;
            margin-bottom: 0;
        }

        &__politics {
            text-align: left;
        }
    }
}

.make-order-form-block {
    &:not(:last-child) {
        margin-bottom: 6rem;
    }

    &__title {
        font-size: 2.4rem;
        line-height: 100%;
        font-weight: 600;
        margin-bottom: 4rem;
    }

    @media screen and (orientation: portrait) {
        &__title {
            font-size: 2rem;
            line-height: 100%;
            margin-bottom: 4rem;
        }
    }
}

.order-form-subblock {

    &__block {}

    &__title {
        font-size: 1.8rem;
        line-height: 100%;
        font-weight: 600;
        margin: 4rem 0 2.4rem;
    }

    &__row {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        gap: 1.6rem;
        margin-bottom: 2.4rem;
    }

    &__row.a-items-end {
        align-items: end;
    }

    &__row .form-item {
        margin-bottom: 0;
    }

    &__address {
        width: 37.3rem;
        display: flex;
        gap: .8rem;
        line-height: 150%;
    }

    &__address span {
        max-width: 31.6rem;
    }

    &__address svg {
        width: 2.4rem;
        height: 2.4rem;
    }

    &__checkboxes.checkbox-house {
        height: 4.8rem;
        display: flex;
        align-items: center;
    }

    &__btn {
        padding: 0 2rem;
        height: 4.8rem;
    }

    @media screen and (orientation: portrait) {
        &__row {
            flex-direction: column;
            gap: 2.4rem;
            margin-bottom: 4rem;
        }

        &__row.details-delivery {
            flex-direction: row;
            gap: 1.6rem;
        }

        &__radiobtns {
            font-size: 1.6rem;
            line-height: 100%;
        }

        &__address {
            max-width: 100%;
        }

        &__btn {
            align-self: start;
            padding: 0 2.4rem;
            height: 4.8rem;
        }

        &__checkboxes.checkbox-house {
            height: unset;
            margin-top: .8rem;
        }

        .maker-order-date {
            max-width: 100%;
        }

        &__row.date-time-delivery {
            margin-bottom: 2.4rem;
        }
    }
}

.your-order {
    &__title {
        font-size: 2.4rem;
        line-height: 100%;
        font-weight: 600;
        margin-bottom: 4rem;
    }

    &__list {
        margin-bottom: 4rem;
    }

    &__block {}

    &__date {
        margin-bottom: 2.4rem;
    }

    @media screen and (orientation: portrait) {
        &__title {
            font-size: 2rem;
            line-height: 100%;
        }

        &__date {
            font-size: 1.4rem;
            line-height: 100%;
            margin-bottom: 2.4rem;
        }
    }
}

.your-order-item {
    margin-bottom: 2.4rem;

    &__body {
        display: grid;
        grid-template-columns: 7.6rem 1fr;
        align-items: start;
        grid-gap: 2.4rem;
    }

    &__img {
        border-radius: 1.6rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img img {
        max-width: 100%;
        max-height: 8.6rem;
    }

    &__name {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 120%;
        margin-bottom: 1.6rem;
    }

    @media screen and (orientation: portrait) {
        &__name {
            font-size: 1.6rem;
            line-height: 150%;
        }
    }
}

.your-order-info {
    border-top: 0.5px solid var(--text-gray, #8C8C8C);
    padding-top: 4rem;

    &__count {
        margin-bottom: 1.6rem;
    }

    &__items {}
}

.your-order-info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;

    &__label {}

    &__value.old {
        text-decoration: line-through;
        color: var(--text-grey);
    }
}

.your-order-info-total {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-weight: 600;

    &__label {}

    &__value {
        font-size: 2.4rem;
        line-height: 100%;
    }
}

.your-order-item-price {
    align-items: center;

    &__count {
        flex-grow: 1;
        text-align: right;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 100%;
    }

    @media screen and (orientation: portrait) {
        &__value.new {
            font-size: 1.6rem;
            line-height: 100%;
        }

        &__value.old {
            font-size: 1.4rem;
            line-height: 100%;
        }

        &__count {
            font-size: 1.6rem;
            line-height: 100%;
        }
    }
}